@media screen and (max-width:770px) {
    #hero-content{
        display: flex;
        float: left;
        margin-right:auto;
        justify-content: left;
        align-items: left;
        text-align: left;
    }
    #p1{
        float: left;
        margin-right: auto;
    }
    .ul{
        float: left;
        margin-right: auto;
        text-align: left;
    }
    #button-container{
        float: left;
        margin-right: auto;
    }
}
@media screen and (max-width:800px) {
    .logo{
        margin-left: 0;
    }
    .login{
        margin-right: 0px;
    }
}
@media (max-width: 768px) {
    .faq-section {
        flex-direction: column;
        align-items: center;
    }

    .faq-img, .faq-content {
        max-width: 100%;
    }

    .faq-img {
        margin-bottom: 20px;
    }
}
@media screen and (max-width:425px) {
    .plans-link a{
        font-size: 10px;
    }
    .plans-link{
        font-size: 10px;
    }
}
